root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[build.gradle.kts]
indent_size = 4

[{Makefile, makefile}]
indent_style = tab
indent_size = 4

[*.kt]
indent_size = 4
